POSTGRES_HOST=localhost
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

BANK_API_BASE_URL=https://bank.api
BANK_API_TIMEOUT_SECONDS=5
BANK_API_RETRIES=2

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
CELERY_POLL_PENDING_PAYMENTS_INTERVAL_SECONDS=30
